<p>Mad Libs!</p>

<form action= "/results" method= "get">
  <p>
    <label for= "name">Name:</label>
    <input id= "name" type= "text" placeholder= "Enter a name" name= "name">
  </p>
  <p>
    <label for= "name2">Noun:</label>
    <input id= "name2" type= "text" placeholder= "Noun" name= "noun">
  </p>
  <input type= "submit">
</form>