<p>Hello, my name is<%= @name %>. I was made by you. I am yours to command. 
  And now, I have been commanded to attack the <%= @noun %> of the world.
  I will attack them by using my favorite move that I copied off of <%= @char %>.
</p>