<p>Mad Libs!</p>

<form action= "/mad_lib_story" method= "get">
  <p>
    <label for= "name">Name:</label>
    <input id= "name" type= "text" placeholder= "Enter a name" name= "name">
  </p>
  
  <p>
    <label for= "noun">Plural noun:</label>
    <input id= "noun" type= "text" placeholder= "Plural noun" name= "noun">
  </p>
  
  <p>
    <label for= "char">Favorite fictional character:</label>
    <input id= "char" type= "text" placeholder= "Character" name= "char">
  </p>
  <input type= "submit">
</form>